*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.image {
  height: 600px;
  width: 800px;
  background-repeat: no-repeat;
}

/* figure:hover img {
  opacity: 0;
} */

img {
  display: block;
  width: 100%;
  pointer-events: none;
}